.product {
    display: flex;
    flex-wrap: wrap;
    gap: 41px;
    padding-top: 160px;
    padding-bottom: 120px;

}
.search {
    display: flex;
    position: relative;
    justify-content: center;
    position: fixed;
    z-index: 999;
    margin-top: 64px;
    margin-left: 670px;
}
.search input {
    width: 300px;
    height: 52px;
    background: rgba(0, 0, 0, 0.066);
    padding-left:20px ;
    color: black;
    border-radius: 10px;
    outline: none;
}
.search a {
    position: absolute;
    color: black;
    font-size: 19px;
    left: 265px;
    top: 10px;
}